.passwords-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}
.passwords-layout > * {
}

.passwords-layout > .section {
    flex-grow: 1;
    border-radius: 10px;
    background-color: var(--color-light);
    padding: 1rem;

}

.passwords-layout > .section:first-child {
    max-height: 10rem;
}

.passwords-layout > .section > * {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.passwords-layout > .section > .section-title {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-primary-dark);
    border-bottom: 0.15rem solid;
    margin-bottom: 1rem;
}

.section > .section-body {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}
.section > .section-body > .section-fill {
    flex-grow: 1;
}